<?xml version="1.0" encoding="utf-8"?>
<fts>
   <ngram min="3" max="6">
      <stop_words>
        <word>a</word>
        <word>an</word>
        <word>and</word>
        <word>are</word>
        <word>as</word>
        <word>at</word>
        <word>be</word>
        <word>but</word>
        <word>by</word>
        <word>for</word>
        <word>if</word>
        <word>in</word>
        <word>into</word>
        <word>is</word>
        <word>it</word>
        <word>no</word>
        <word>not</word>
        <word>of</word>
        <word>on</word>
        <word>or</word>
        <word>s</word>
        <word>such</word>
        <word>t</word>
        <word>that</word>
        <word>the</word>
        <word>their</word>
        <word>then</word>
        <word>there</word>
        <word>these</word>
        <word>they</word>
        <word>this</word>
        <word>to</word>
        <word>was</word>
        <word>will</word>
        <word>with</word>
      </stop_words>
   </ngram>
   <indexer part_length="2" hash_length="6">
      <field>bookID</field>
      <field>title</field>
      <field ignore="true">authors</field>
      <field ignore="true">average_rating</field>
      <field ignore="true">isbn</field>
      <field ignore="true">isbn13</field>
      <field ignore="true">language_code</field>
      <field ignore="true">num_pages</field>
      <field ignore="true">ratings_count</field>
      <field ignore="true">text_reviews_count</field>
      <field ignore="true">publication_date</field>
      <field ignore="true">publisher</field>
   </indexer>
</fts>