<?xml version="1.0" encoding="utf-8"?>
<fts>
   <ngram min="3" max="6">
      <stop_words>
        <word>a</word>
        <word>an</word>
        <word>and</word>
        <word>are</word>
        <word>as</word>
        <word>at</word>
        <word>be</word>
        <word>but</word>
        <word>by</word>
        <word>for</word>
        <word>if</word>
        <word>in</word>
        <word>into</word>
        <word>is</word>
        <word>it</word>
        <word>no</word>
        <word>not</word>
        <word>of</word>
        <word>on</word>
        <word>or</word>
        <word>s</word>
        <word>such</word>
        <word>t</word>
        <word>that</word>
        <word>the</word>
        <word>their</word>
        <word>then</word>
        <word>there</word>
        <word>these</word>
        <word>they</word>
        <word>this</word>
        <word>to</word>
        <word>was</word>
        <word>will</word>
        <word>with</word>
      </stop_words>
   </ngram>
   <indexer part_length="3" hash_length="6">
      <field>Book_ID</field>
      <field>Title</field>
      <field>Authors</field>
      <field ignore="true">Average_rating</field>
      <field ignore="true">ISBN</field>
      <field ignore="true">ISBN13</field>
      <field ignore="true">Language_Code</field>
      <field ignore="true">Num_pages</field>
      <field ignore="true">Ratings_count</field>
      <field ignore="true">Text_reviews_count</field>
      <field ignore="true">Publication_date</field>
      <field ignore="true">Publisher</field>
   </indexer>
</fts>